.container {
	margin-top: 2rem;
	padding: 0 calc(10vw);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header > p {
	font-size: calc(1vw + 0.65rem);
}

.header > p span {
	font-weight: 800;
}

.header > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header > div span {
	font-size: 1.2rem;
	font-weight: 500;
	cursor: pointer;
}

.header > div span:last-of-type {
	margin-left: 10px;

	background-color: var(--primary-color);
	color: var(--text-color);
	width: min(100px, 100px);
	height: 35px;
	display: grid;
	place-items: center;
	border-radius: 10px;
}

.headerText {
	color: var(--primary-color);
}

.main {
	min-height: 80vh;
	padding: 4rem 0;
}

.section p {
	color: var(--secondary-color);
	margin: 0;
}

.section p:first-of-type {
	font-size: calc(var(--general-font-size) + 4vw);
	margin-top: calc(var(--general-font-size) + 10vh);
	line-height: 6vw;
}

.section p:first-of-type span {
	color: var(--primary-color);
	font-weight: 500;
	text-decoration: underline;
}

.section p:last-of-type {
	font-size: calc(var(--general-font-size) + 1vw);
	font-weight: 200;
	margin: 0.3rem 0 0.4rem 0;
}

.section div {
	background-color: var(--primary-color);
	height: 50px;
	width: 150px;

	font-size: 1.5rem;
	border-radius: 10px;
	color: var(--text-color);

	display: grid;
	place-items: center;

	cursor: pointer;
}

@media (max-width: 700px) {
	.grid {
		width: 100%;
		flex-direction: column;
	}

	.section p:first-of-type {
		margin-top: calc(var(--general-font-size) + 15vh);
		line-height: 9vw;
	}
}

/* @media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
} */
