.container {
	min-height: 100vh;
	flex-direction: column;
	display: flex;
	margin: 0 2rem;
}

.header {
	max-width: 90vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.searchBar {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -1rem;
}

.searchBar > span {
	position: absolute;
	left: 30px;
	top: 2px;
}

.searchBar input {
	width: clamp(50vw, 20rem, 80vw);
	border: 0.15em solid var(--secondary-color);
	height: 40px;
	border-radius: 12px;
	padding-left: 35px;
	font-size: calc(var(--general-font-size));
}

.searchBar input:focus {
	outline: none;
}

.result {
	margin: 1rem 2vw 0 2vw;
}

.phone {
	display: flex;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 1rem;
	border-bottom: 1px solid var(--primary-color);
	padding: 1rem;
	cursor: pointer;
}

.phone p {
	margin-left: 1rem;
}

.phoneType {
	height: min(90vh, 100vh);
	margin: 2rem;
}

.phoneType h1,
.phoneType aside h2 {
	color: var(--primary-color);
}

.phoneType > section {
	display: flex;
	/* flex-wrap: wrap;
	flex-direction: column;
	justify-content: center; */
	margin-top: 2rem;
	justify-content: space-between;
}

.phoneType > section > article {
	display: flex;
	width: 50%;
}



.details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 300px;
}

.details div {
	margin-left: 20px;
}

.details h3 {
	font-size: 1.1rem;
	color: var(--tertiary-color);
}

.details p {
	font-size: 0.8rem;
	color: var(--secondary-color);
}
.review{
	width: 50%;
}
.review > article {
	padding: 15px;
	margin-top: 1rem;
	border-left: 3px solid var(--primary-color);
	height: 300px;
	overflow-y: scroll;
}

/* changes */
.review > h2{
	text-align: center;
	padding: 20px 0px;
	font-size: 2.5rem;
	text-decoration: underline;
}

.noReview{
	color: var(--primary-color);
}



/* changes */

/* .review article {
	color: white;
} */

.review article div {
	border: 1px solid var(--secondary-color);
	padding: 10px;
	border-radius: 10px;
	color: #fff;
	margin-bottom: 10px;
	background-color: var(--tertiary-color)
}

@media (max-width: 615px) {
	.details div{
		margin: 5px;
		margin-left: 20px;
	}
}

@media (max-width: 1117px) {
	.phoneType > section{
		flex-direction: column;
	}
	.review{
		width: 100%;
	}
}